body {
    background: url(../assets/crew/background-crew-desktop.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: grid;
}

.active::after {
    width: 70%;
}

.container.crew {
    justify-content: flex-end;
}

.intro-text {
    margin-top: .8rem;
    margin-bottom: auto;
}
.intro-text.member-post {
    color: #8f8f8f;
}

.crew-member_info {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-bottom: 4rem;
}

.member__info {
    padding-right: 7rem;
    font-size: 0.875rem;
    color: var(--Dark-grayish-blue);
}

.member-name {
    font-size: 2.625rem;
    text-transform: uppercase;
}

.crew-member {
    margin-bottom: auto;
}

.crew-member_img {
    width: 68%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.crew-member_img img {
    margin-top: auto;
}

.crew-member_img.specialist {
    width: 62%;
}

.crew-member_img.pilot {
    width: 78%;
}

.crew-member_img.engineer {
    width: 90%;
}

.crew-member_img img {
    width: 100%;
    object-fit: cover;
    margin-top: auto;
    image-orientation: from-image;
}

.indicator_btn button.active-btn {
    background-color: #fff;
}
.indicator_btn button:hover {
    background-color: var(--Dark-grayish-blue);
}

.indicator_btn + .indicator_btn {
    margin-left: 10px;
}

.indicator_btn button {
    padding: 6px;
    background: var(--color-faint-white);
    border-radius: 30px;
    outline: none;
    border: none;
    cursor: pointer;
}

@media (max-width: 1200px) {
    .crew-member_img{
        width: 40% !important;
    }
    .crew-member_img.crew-member_img.specialist{
        width: 40% !important;
    }
}

@media (max-width: 1000px) {

    body {
        background: url(../assets/crew/background-crew-tablet.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .homepage__container {
        gap: 1rem;
    }

    .crew-member_info > p {
        text-align: left;
        margin-block: 0 !important;
    }

    .member-name {
        font-size: 2rem;
    }

    .member__info {
        padding-inline: 2rem;
        font-size: 0.875rem;
    }

    .intro-text.member-post{
        letter-spacing: 1px;
        margin-bottom: 0 !important;
    }

    .crew-member_img {
        display: flex;
    }
    .crew-member_img{
        width: 60% !important;
    }
    .crew-member_img.crew-member_img.specialist{
        width: 55% !important;
    }
    .crew-member_img.crew-member_img.engineer{
        width: 72% !important;
    }

    .crew-member_img img {
        width: 100%;
    }

    /* .crew-member_img.specialist{
        width: 55% !important;
    } */

    hr {
        display: none;
    }

    .crew-member_info {
        padding-bottom: 1rem;

    }
    .indicator{
        margin-block: 1rem;
    }

    .indicator_btn button {
        padding: 4px;
    }
}

@media (max-width: 600px) {
    .crew-member_img img {
        width: 100%;
    }

    .crew-member_img.specialist {
        width: 52%;
    }
}