body{
    background: url(../assets/destination/background-destination-desktop.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

main.destination{
    flex-direction: column;
    align-items: flex-start;
}

.active::after{
    width: 70%;
}

.intro-text{
    margin-top: 2rem;
    letter-spacing: 2px;
}

.intro-text span{
    margin-right: 1rem;
    color: #646464;
}
.homepage__container{
    margin-top: 2rem;
    place-items: center center;
}
.moon__image img{
    width: 85%;
}

.planetory-bodies_info{
    padding-left: 6rem;
}

.planetory-bodies_nav li{
    display: inline-block;
}

.planetory-bodies_link a{
    position: relative;
    padding-bottom: .3em;
}

.planetory-bodies_link a,
.planet-info,
.distance__container p{
    color: var(--Dark-grayish-blue);
}


.planetory-bodies_link .active-planet{
    color: var(--color-white);
}

.planetory-bodies_link + .planetory-bodies_link{
    margin-left: 1rem;
}

.active-planet::after{
    content: "";
    height: 2px;
    width: 35px;
    position: absolute;
    background: var(--color-white);
    bottom: 0;
    left: 2px;
}
.planet-link:hover::after{
    content: "";
    height: 2px;
    width: 35px;
    position: absolute;
    background: var(--color-faint-white);
    bottom: 0;
    left: 2px;
}


.moon-line{
    margin-block: .8rem;
}

.distance__container{
    justify-content: flex-start;
    gap: 5em;
}

@media (max-width: 1000px){

    body{
        background: url(../assets/destination/background-destination-tablet.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    main.destination .intro-text{
        font-size: 1.1rem;
        margin-block: 1.5rem;
    }
    main.destination .intro-heading{
        font-size: 4.5rem;
        line-height: 1.3;
    }
    .moon__image img{
        width: 40%;
    }
    .planet-info{
        font-size: 12px;
    }
    .planetory-bodies_info{
        padding-left: 0;
    }
    .moon-line{
        margin-block: 1.5rem;
    }
    .distance__container{
        justify-content: space-around;
    }
}