body{
    background: url(../assets/technology/background-technology-desktop.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


.active::after{
    width: 70%;
}

.tech{
    margin: 0 0 0 12%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.tech .intro-text{
    margin-bottom: 0;
    align-self: flex-start;
}
.intro-text.tech-intro{
    display: block;
    width: 100%;
}

.tech_container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
}

.tech__info{
    height: fit-content;
    gap: 4rem;
}

.terminology{
    text-transform: uppercase;
}

.about__tech{
    padding-right: 6rem;
    font-size: 14px;
    color: var(--Dark-grayish-blue);
}

.technology-image{
    justify-self: flex-end;
    height: 90%;
    width: 70%;
}
.technology-image img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    margin: 0;
}

.navigator{
    padding: 13px 23px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--Dark-grayish-blue);
    font-size: 1.1rem;
}
.navigator.nav2{
    padding: 14px 22px;
}
.navigator.nav3{
    padding: 14px 22px;
}

.navigator.activenav{
    background: var(--color-white);
    color: #000;
}
.navigator:hover{
    background: hsla(0, 0%, 100%, .1);
    color: #000;
}

.tech-navigators{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

@media (max-width: 1200px) {
    .tech .intro-text{
        margin-bottom: 2rem;
    }   
    main{
        padding-bottom: 2rem;
    }
}

@media (max-width: 900px) {
    .tech{
        margin: 0 0 0 0;
    }
    .tech .intro-text{
        margin-bottom: 0;
        margin-left: 3rem;
        align-self: flex-start;
    }
    .tech_container{
        grid-template-columns: 1fr;
    }
    .tech__info{
        order: 2;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }
    .tech-navigators{
        flex-direction: row;
        margin-top: 2rem;
    }
    .about__tech{
        padding-right: 0;
    }
    .tech-info__container{
        text-align: center;
        padding-inline: 4rem;
    }
    .technology-image{
        height: 75%;
        width: 100%;
        margin: 0;
    }
}
@media (max-width: 600px) {
    .tech .intro-text{
        margin: 0 0 1rem;
        align-self: center;
        font-size: 1.5rem;
    }
    .technology-image{
        height: 90%;
        width: 100%;
    }
    main{
        padding-bottom: unset;
    }
}
